.heading{
  font-size:30px;
  font-style:italic


}
.image{
  height:250px;
  width:250px;
  border-radius:10px
}
.profile{
  border-radius:30px;
  height:40px;
  width:40px;
}
.heading1{
  font-size:15px;

}
.para{
  color:rgb(113, 111, 116);
  font-size:15px;
}
.heading2{
  font-size:25px;
  color:black;
}
.bg-container{
  height:150px;
  width:150px;
  border-radius:10px;
  border-color: brown;
  border-width:0ch
}
.container2{
  margin-right:20px
}
.hr{
  color:black
}  
.head{
  font-size:25px;
}
.profile-space{
  margin-right: 250px;
  padding-bottom:10px;
}
.image2{
  height:60vh;
  width:100vh;
  border-radius:10px
}

.header {
  display: flex;
  width: 100%;
  /* background-color: #222222; */
  color:#222222;
  justify-content: space-between;
  padding: 15px 40px;
  border-bottom: 1px solid #ddd;
}
.header .nav {
  display: flex;

}
.header .nav a {
  flex: 1;
  padding: 15px 40px;
  color:#222222;
 
}
.searchbar {
  margin-top: 20px;
  background: #fff;
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 0px 15px #555;
  height: 40px;
  width: 380px;
}
.searchbar input {
  border: none;
  outline: none;
  flex: 1;
  padding: 15px 40px;
}
.searchbar button {
  background: #1381a2;
  color: #fff;
  border: none;
  padding: 10px;
  outline: none;
}
.logoo{
  height: 80px;
  width: 150px;
}
.map{
display: flex;
justify-content: center;

}
.link{
color:black;
font-size:18px
}
.card-container{
border-radius:  4px;
height:400px;
width:100px;
border-width: 30px;

}
.card{
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
}

.card1{
border-width: 1px;
border-radius: 4px;
border-style:solid;
box-sizing: border-box;
border-color: rgb(26, 25, 25);
height:60px;
width:150px;
}
.card-heading{
font-size:15px;
}
.button{
 height:40px;
 width:180px;
 background-color:rgb(214, 65, 65);
 border-width: 1px;
border-radius: 6px;
border-style:solid;
color:white;
text-align:center;
margin-top:20px;
 
}
.drop{
width:260px;
}
.para1{
text-align:center
}

.footer {
  background: #222;
  color: #ddd;
  padding: 15px 40px;
}
.footer a {
  color: #ddd;
}
.footer a:hover {
  color: #fff;
}
.footer .footer-grid {
  display: flex;
  justify-content: space-between;
}
.footer .footer-grid .column {
  width: 30%;
  margin-bottom: 40px;
}
.footer .footer-grid .column:nth-child(1) {
  text-align: left;
}
.footer .footer-grid .column:nth-child(2) {
  text-align: center;
}
.footer .footer-grid .column:nth-child(3) {
  text-align: right;
}
