* {
  box-sizing: border-box;
}
.imagestyle{
  height: 200px;
}
.card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}
h2 {
text-align: center;
}

h1{
  padding: 5px;
  text-align: center;
  font-family: "Roboto";
  font-size: 15px;
}

.para1{
  text-align: center;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
}

.para2{
  text-align: center;
  font-family: "Roboto";
  font-size: 15px;
}

.logoo{
  height: 80px;
  width: 120px;
}

.header {
display: flex;
width: 100%;
/* background-color: #222222; */
color:#222222;
justify-content: space-between;
padding: 15px 40px;
border-bottom: 1px solid #ddd;
}
.header .nav {
display: flex;

}
.header .nav a {
flex: 1;
padding: 15px 40px;
color:#222222;

}
.searchbar {
margin-top: 20px;
background: #fff;
border-radius: 4px;
display: flex;
overflow: hidden;
box-shadow: 0px 0px 15px #555;
height: 40px;
width: 380px;
}
.searchbar input {
border: none;
outline: none;
flex: 1;
padding: 15px 40px;
}
.searchbar button {
background: #1381a2;
color: #fff;
border: none;
padding: 10px;
outline: none;
}
.footer {
background: #222;
color: #ddd;
padding: 15px 40px;
}
.footer a {
color: #ddd;
}
.footer a:hover {
color: #fff;
}
.footer .footer-grid {
display: flex;
justify-content: space-between;
}
.footer .footer-grid .column {
width: 30%;
margin-bottom: 40px;
}
.footer .footer-grid .column:nth-child(1) {
text-align: left;
}
.footer .footer-grid .column:nth-child(2) {
text-align: center;
}
.footer .footer-grid .column:nth-child(3) {
text-align: right;
}
